<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 2
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://goo.gl/8D8uDf).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [75]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [79]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше.**

**<font color='red'>Варианты:</font>**
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин

In [36]:
df.groupby('gender')[['height']].agg(np.median)

        height
gender
1          161
2          170

In [35]:
df[df['gender']==1]['height'].mean() , df[df['gender']==1]['height'].count() , \
df[df['gender']==2]['height'].mean() , df[df['gender']==2]['height'].count()

(161.35561168460356, 45530, 169.94789538210054, 24470)

In [ ]:
df[df['gender']==2]['height'].agg

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем чаще указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- женщины
- мужчины

In [37]:
pd.crosstab(df['gender'], df['alco'])

alco        0     1
gender
1       44369  1161
2       21867  2603

In [41]:
df[df['gender']==1]['alco'].mean(),\
df[df['gender']==2]['alco'].mean()

(0.02549967054689216, 0.10637515324887617)

In [5]:
# Ваш код здесь

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [45]:
df[df['gender']==1]['smoke'].sum()/df[df['gender']==1]['smoke'].count(),\
df[df['gender']==2]['smoke'].sum()/df[df['gender']==2]['smoke'].count(),\
(df[df['gender']==2]['smoke'].sum()/df[df['gender']==2]['smoke'].count())/(df[df['gender']==1]['smoke'].sum()/df[df['gender']==1]['smoke'].count())

(0.017856358444981332, 0.21888026154474868, 12.257833097333833)

6.587945879458794

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чем здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 5
- 10
- 15
- 20

In [53]:
df['smoke'].agg(np.median)

0.0

In [61]:
[df.groupby('smoke').agg(np.median)]

[         age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  alco  \
 smoke
 0      19722       1     164    72.0    120     80            1     1     0
 1      19125       2     170    75.0    120     80            1     1     0

        active  cardio
 smoke
 0           1       1
 1           1       0  ]

In [72]:
df.groupby('smoke')[['age']].agg(np.median)

         age
smoke
0      19722
1      19125

In [83]:
(df[(df['smoke'] == 0)]['age'].median() -df[(df['smoke']==1)]['age'].median() )/30

19.9

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='../../img/SCORE2007.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Посчитайте признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет: первая с верхним артериальным давлением меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [89]:
df['age_years'] = df['age'].map(lambda x: x // 365)
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,51
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,47

In [91]:
df2 = df[(df['gender']==2) & (df['age_years']>=60) & (df['age_years']<=64) & (df['smoke']==1) ]

In [105]:
df2.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
52,23388,2,162,72.0,130,80,1,1,1,0,1,1,64
90,22099,2,171,97.0,150,100,3,1,1,0,1,1,60
248,22671,2,174,74.0,130,80,3,1,1,0,1,1,62
318,23376,2,175,75.0,180,100,3,1,1,1,1,1,64
410,22415,2,173,70.0,130,70,2,1,1,1,1,0,61

In [107]:
df2[(df2['ap_hi']<120) & (df2['cholesterol']==1)]['age'].count()

54

In [108]:
df2[(df2['ap_hi']<120) & (df2['cholesterol']==1) & (df2['cardio']==1)]['age'].count()

15

In [114]:
perc1 = df2[(df2['ap_hi']<120) & (df2['cholesterol']==1) & (df2['cardio']==1)]['age'].count() /df2[(df2['ap_hi']<120) & (df2['cholesterol']==1)]['age'].count()

In [106]:
df2[(df2['ap_hi']<180) & (df2['ap_hi']>=160) & (df2['cholesterol']==3)]['age'].count()

15

In [109]:
df2[(df2['ap_hi']<180) & (df2['ap_hi']>=160) & (df2['cholesterol']==3) & (df2['cardio']==1)]['age'].count()

14

In [115]:
perc2= df2[(df2['ap_hi']<180) & (df2['ap_hi']>=160) & (df2['cholesterol']==3) & (df2['cardio']==1)]['age'].count() / df2[(df2['ap_hi']<180) & (df2['ap_hi']>=160) & (df2['cholesterol']==3)]['age'].count()

In [118]:
perc2/perc1

3.3599999999999999

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке лежит в пределах нормы
- У женщин в среднем BMI выше, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [131]:
df['BMI']=df['weight']/((df['height']*df['height'])/10000)

In [132]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,BMI
id,,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50,21.967120
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55,34.927679
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,51,23.507805
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48,28.710479
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,47,23.011177

In [133]:
df['BMI'].median()

26.374068120774975

In [139]:
df.pivot_table(['BMI'],['gender'])

              BMI
gender
1       27.987583
2       26.754442

In [150]:
df[(df['cardio']==0) & (df['BMI']>=18.5) & (df['BMI']<25)].count()

age            15377
gender         15377
height         15377
weight         15377
ap_hi          15377
ap_lo          15377
cholesterol    15377
gluc           15377
smoke          15377
alco           15377
active         15377
cardio         15377
age_years      15377
BMI            15377
dtype: int64

In [151]:
df[(df['cardio']==0)]['BMI'].mean()

26.54817520679475

In [152]:
df[(df['cardio']==1)]['BMI'].mean()

28.566060627015435

In [157]:
df[(df['cardio']==0) & (df['alco']==0) & (df['gender']==2)]['BMI'].mean()

25.872638075460173

In [158]:
df[(df['cardio']==0) & (df['alco']==0) & (df['gender']==1) ]['BMI'].mean()

26.845406594131518

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [170]:
df[(df['ap_lo']>df['ap_hi'])].head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,BMI
id,,,,,,,,,,,,,,
314,17489,2,183,98.0,160,1100,1,2,1,0,1,1,47,29.263340
334,21932,2,157,60.0,160,1000,2,1,0,0,0,1,60,24.341758
357,18217,1,150,83.0,140,800,1,1,0,0,1,1,49,36.888889
458,23407,1,176,63.0,160,1000,2,2,0,0,0,1,64,20.338326
482,18704,1,154,81.0,140,1000,2,1,0,0,1,1,51,34.154158

In [173]:
df3=df[(df['ap_lo']<df['ap_hi'])]

In [195]:
df3.shape

(62783, 14)

In [168]:
df.shape

(70000, 14)

In [185]:
pd.Series.quantile?

In [182]:
df['height'].quantile([.025,.975])

0.025    150.0
0.975    180.0
Name: height, dtype: float64

In [191]:
df3=df3[(df3['height']>=df3['height'].quantile(.025)) & (df3['height']<=df3['height'].quantile(.975))]

In [194]:
df3=df3[(df3['weight']>=df3['weight'].quantile(.025)) & (df3['weight']<=df3['weight'].quantile(.975))]

In [199]:
1-df3.shape[0]/df.shape[0]

0.10309999999999997